


.container {
	margin: 20px;
}

.videoArea {
	position: relative;
}

.playButton {
	background-color: rgba(40, 169, 220, 0.3);
	width: 800px;
	height: 450px;
	position: absolute; //important, make the videoArea relative, and the box absolute so they are overlapped
	top: 60px;
	left: 0px;
	pointer-events: auto;
	cursor: pointer;
	z-index: 20;
}

.shopButton {

}