


.container {
	margin: 20px;
}

.videoArea {
	position: relative;
	width: 33.5%;
	border: 1px solid black;
}

.playButton {
	background-color: rgba(40, 169, 220, 0.3);
	width: 100%;
	height: 100%;
	position: absolute; //important, make the videoArea relative, and the box absolute so they are overlapped
	top:  0px;
	left: 0px;
	pointer-events: auto;
	cursor: pointer;
	z-index: 20;
}

.shopButton {

}